/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
.viminfo
.npm/
.node-gyp
.local/
.config/
yarn-error.log
.cache/
.env
output/
.spago/
dist/
